/* Generics functions */
.display_flex {
    display: flex;
}

.column {
    flex-direction: column;
}

.space_betweeen {
    justify-content: space-between;
}

.auto {
    margin: auto;
}

/* Modifications liées au corp principal du site */
body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

/* Modifications liées à la "section 1" */
#nav {
    margin: 10%;
    width: fit-content;
    background-color: white;
    font-size: 13px;
    padding: 0.5% 2%;
}

.link_menu {
    text-decoration: none;
}

a {
    display: block;
}

#section1 {
    width: 69%;
    background-image: url('img/image bar.jpg');
    background-size: cover;
}

#sub_section1_id {
    background-color: #05240D;
}

#section1_div1 {
    margin: 40% 0 0 10%;
    font-weight: bold;
}

#p1_id {
    line-height: 40px;
}

/* Modifications liées à la "section 2" */
#section2 {
    width: 30%;
    height: 100%;
}

#sub_section2_id {
    background-color: black;
}

#section2_major_div1 {
    padding: 10%;
}

#section2_div1 {
    text-align: center;
    font-size: 15px;
}

#section2_div2 {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

#sub_section2_div1 {
    width: 40px;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

/* Classes génériques */
.sub_section_class {
    width: 100%;
    height: 49%;
}

.p_text_class {
    color: white;
}